@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WuWaPlanner.Controllers
@using WuWaPlanner.Models
@model PullsViewModel

@{
	ViewData["Title"] = "Pulls";
	var pullsData = ViewData.Model.Data;
}

@section Scripts
{
	<script>
	document.querySelectorAll('.toggleTableButton').forEach(button => {
		button.addEventListener('click', function (button) {
			const table = document.getElementById(this.getAttribute('data-target'));

			table.style.display = table.style.display === 'none' ? 'table' : 'none';
			button.target.innerText = table.style.display === 'none' ? 'Open' : 'Close';
		});
	});
</script>
}

<div class="title">
	<a class="importbtn" asp-area="" asp-controller="Pulls" asp-action="PullsImport">
		<b>Import</b>
	</a>
</div>

<div class="history grid-container container flex flex-wrap">
	@foreach (var bannerType in PullsController.BannerTypes)
	{
		var     hasPulls       = pullsData.TryGetValue(bannerType, out var data);
		var bannerTypeName = bannerType.BannerTypeToString();

		<div class="history-item grid-item w-full inline-flex flex-col">

			<p class="bannerType">@bannerTypeName pulls</p>
			<text>CurrentPity: @(data?.FirstOrDefault().CurrentPity.ToString() ?? "0")</text>
			<br/><br/>

			<text class="toggleTableButton cursor-pointer" data-target="@bannerTypeName">Open</text>
			<table style="display: none;" class="w-full" id="@bannerTypeName">
				<thead>
				<th>Name</th>
				<th>Pity</th>
				<th>Time</th>
				</thead>

				<tbody>
				@if (hasPulls)
				{
					@foreach (var item in data!)
					{
						var color = "rarity "
									+ item.Rarity switch
									{
										5 => "legendary",
										4 => "epic",
										_ => "common"
									};

						<tr class="@color">
							<th>@item.Name</th>
							<th>@item.Pity.ToString()</th>
							<th>@item.Time.ToString(CultureInfo.CurrentCulture)</th>
						</tr>
					}
				}
				</tbody>
			</table>
		</div>
	}
</div>
