@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WuWaPlanner.Controllers
@using WuWaPlanner.Models
@model PullsViewModel

@{
	ViewData["Title"] = "Pulls";
	var pullsData = ViewData.Model.Data.Data;
}

@section Scripts
{
	<script>
	document.querySelectorAll('.toggleTableButton').forEach(button => {
		button.addEventListener('click', function (button) {
			const table = document.getElementById(this.getAttribute('data-target'));

			table.style.display = table.style.display === 'none' ? 'table' : 'none';
			button.target.innerText = table.style.display === 'none' ? 'Open' : 'Close';
		});
	});

	document.querySelectorAll('.toggleRarityButton').forEach(button => {
		button.addEventListener('click', function () {
			document.querySelectorAll(this.getAttribute('data-target')).forEach(pull => {
				pull.style.display = pull.style.display === 'none' ? 'table-row' : 'none';
			})
		});
	});
</script>
}

<div class="title">
	<a class="importbtn" asp-area="" asp-controller="Pulls" asp-action="PullsImport">
		<b>Import</b>
	</a>
</div>

<div class="history grid-container container flex flex-wrap">
	@foreach (var bannerType in PullsController.BannerTypes.AsParallel())
	{
		var     hasPulls       = pullsData.TryGetValue(bannerType, out var data);
		var bannerTypeName = bannerType.BannerTypeToString();

		<div class="history-item grid-item w-full inline-flex flex-col">

			<p class="bannerType">@bannerTypeName pulls</p>
			<text>Total: @(data?.Total.ToString() ?? "0")</text>
			<br/>
			<text>5* pity: @(data?.LegendaryPity.ToString() ?? "0")</text>
			<br/>
			<text>4* pity: @(data?.EpicPity.ToString() ?? "0")</text>
			<br/><br/>

			<text class="toggleTableButton cursor-pointer" data-target="@bannerTypeName">Open</text>
			<br/><br/>
			<div style="display: none;" id="@bannerTypeName" class="w-full">
				<div class="grid-container">
					<div class="grid-item">
						<text class="toggleRarityButton cursor-pointer" data-target=".@(bannerTypeName).rarity.legendary">5</text>
					</div>
					<div class="grid-item">
						<text class="toggleRarityButton cursor-pointer" data-target=".@(bannerTypeName).rarity.epic">4</text>
					</div>
					<div class="grid-item">
						<text class="toggleRarityButton cursor-pointer" data-target=".@(bannerTypeName).rarity.common">3</text>
					</div>
				</div>

				<table class="w-full">
					<thead class="w-full">
					<th style="align-self: center">Name</th>
					<th style="align-self: center">Pity</th>
					<th style="align-self: center">Time</th>
					</thead>

					<tbody>
					@if (hasPulls)
					{
						@foreach (var item in data!.Pulls)
						{
							var color = "rarity "
										+ item.Rarity switch
										{
											5 => "legendary",
											4 => "epic",
											_ => "common"
										};

							<tr style="display: @(item.Rarity > 3 ? "table-row" : "none")" class="@(bannerTypeName) @color">
								<th>@item.Id</th>
								<th>@item.Pity.ToString()</th>
								<th>
									@($"{item.Time:dd/MM/yyyy}")<br/>@($"{item.Time:HH:mm}")
								</th>
							</tr>
						}
					}
					else
					{
						<tr>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
	}
</div>